<div id="footer" class="container">
  <div class="row">
    <div id="footer_bpl" class="col-sm-12">
      <p>
        <a href="http://www.bpl.org/general/">General Info</a> |
        <a href="http://www.bpl.org/central/">Central Library</a> |
        <a href="http://www.bpl.org/branches/">Neighborhood Branches</a> |
        <a href="http://www.bpl.org/research/">Research &amp; Specialized Services</a> |
        <a href="http://www.bpl.org/collections/">Our Collections</a> |
        <a href="http://www.bpl.org/electronic/">Electronic Resources</a> |
        <a href="http://www.bpl.org/programs/">Programs &amp; Events</a> |
        <a href="http://www.bpl.org/programs/">Press Room</a> |
        <a href="http://www.bpl.org/contact/">Contact Us</a> |
        <a href="http://www.bpl.org/search/">Site Search</a>
      </p>
      <p>
        <strong>Boston Public Library</strong> &#8226;   617-536-5400   &#8226; <a href="mailto:ask@bpl.org">ask@bpl.org</a>
      </p>
      <p>
        <a href="http://www.bpl.org/central">Central Library</a> – 700 Boylston St., Boston MA 02116
      </p>
      <p>
        <a href="https://www.facebook.com/bostonpubliclibrary" target="_blank">
          <img class="footer_social_img" src="http://www.bpl.org/graphics/facebook_small.gif" alt="Facebook" />
        </a>
        <a href="https://twitter.com/BPLBoston" target="_blank">
          <img class="footer_social_img" src="http://www.bpl.org/graphics/twitter_small.jpg" alt="Twitter" />
        </a>
        <a href="https://www.flickr.com/photos/boston_public_library/" target="_blank">
          <img class="footer_social_img" src="http://www.bpl.org/graphics/flickr_small.png" alt="Flickr" />
        </a>
        <a href="https://www.youtube.com/user/bostonpubliclib" target="_blank">
          <img class="footer_social_img" src="http://www.bpl.org/graphics/youtube_small.png" alt="You Tube" />
        </a>
        <a href="https://instagram.com/bplboston" target="_blank">
          <img class="footer_social_img" src="http://www.bpl.org/graphics/instagram_small.png" alt="Instagram" />
        </a>
      </p>
    </div>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>